/* Importing locally downloaded font */
@font-face {
    font-family: "Abril Fatface";
    src: url("../fonts/Abril_Fatface/AbrilFatface-Regular.ttf") format('truetype');
}
@font-face{
    font-family: "Dogica";
    src: url("../fonts/dogica/TTF/dogica.ttf") format("truetype");
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    font-family: "Abril Fatface";
}

p, input, button, a{
    font-family: "Dogica", "Arial";
}


:root{
    --color-light-green: #B9DD9D;
    --color-dark-green: #6EBA9C;
    --color-baby-blue: #A0C4E6;
    --color-yellow: #FAEEB2;

}

.show #login-container{
    display: block;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.hide{
    display: none;
}



main{
    width: 100%;
    height: 89vh;
}

header{
    padding: 1% 1%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.5vh solid black;
    background-color: var(--color-baby-blue);
    height: 11vh;
}

header h1{
    margin-left: 3%;
    font-size: 5vh
}

.btn-default{
    font-size: 2vh;
    margin-left: 4%; margin-right: 4%;
    background-color: var(--color-dark-green);
    color: white;
    border-color: var(--color-dark-green);
    border-style: solid;
    border-radius: 0.5vh;
    padding: 1vh 2vh;
    cursor: pointer;


}

.btn-default:hover{
    opacity: 0.4;
}

nav{
    width: 25%;
    text-align: right;
}



.login-form{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

#login-container{
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    background-color: white;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    padding-top: 3vh;padding-bottom: 3vh;
    width: 70vh;
    transition: transform 2000ms;
}

.form-header{
    display: block;
    font-size: 5vh;
    text-align: center;
}

.default-input-text{
    display: block;
    margin-left: 3vh;
    margin-top: 2vh;margin-bottom: 2vh;
}

.login-container > .btn-default{
    font-size: 3vh;
    display: block;
    margin: auto;
}

.login-form p, .login-form a{
    font-size: 2vh;
    text-align: center;
    margin: 2vh;
}


.login-form > .btn-default:hover{
    opacity: 1;
    background-color:#8cd3b8;
    border-color: #8cd3b8;
}

#login-container > input[type='text'], input[type='password']{
    margin: 2vh 2vh;
    width: 90%;
    padding: 1vh 1vh;
    font-size: 2.5vh;

}

#strip{
    display: flex;
    justify-content: center;
    width: 100%;
}

#back-btn{
    margin: 2vh;
}

#background{
    position: absolute;
    top: 11vh;
    left: 0;
    width: 100%;
    height: 89vh;
    object-fit: cover;
    z-index: -1;
    
}

#content-card-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 30%;
}

.content-card{
    height: 47vh;
    width: 40vh;
    background-color: white;
    border-radius: 2vh;
    margin: 4vh;
    transition: transform 100ms;
}

.content-card > img{
    width: 40vh;
    height: 40vh;
    object-fit: cover;
    border-top-left-radius: 2vh; border-top-right-radius: 2vh;
}

.content-card h1{
    font-size: 3vh;
    text-align: center;
}

.content-card:hover{
    transform: scale(1.15);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

#caption{
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 3vh;
    text-align: center;
}